body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("pngtree-small-japanese-coffee-shop-at-night-time-picture-image_2455988.jpg")
    no-repeat center center fixed;
  background-size: cover;
  color: white;
}

.container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  margin: 50px auto;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

h1,
p {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
}

input,
select,
textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1em;
}

button {
  padding: 12px;
  background-color: #c98037;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.1em;
  cursor: pointer;
}

button:hover {
  background-color: #bc6c26;
}
